<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PASSWORD RESET</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style>
		@-ms-viewport { 
		    width: device-width; 
		}
	</style>

</head>
<body>
    <div>
        <div style="background-color:white; margin:100px auto; width:30%; border: 1px solid #969696;">
            <div style="padding:0px 24px 32px">
                <h2 style="color:#00c7ae;">비밀번호 재설정</h2>
                <p style="font-size: 16px;"><br> <a href={{user_email}}>{{user_email}}</a>님<br> 아래 버튼을 눌러주시면 비밀번호를 변경하실 수 있습니다.</p>
                <p style="color:#b5b5b5; font-size: 16px;">재설정 링크는 24시간 동안 유효합니다.</p>
            </div>
            <div>
                <a href={{user_token}} style="text-decoration: inherit;">
                    <div style="text-align: center; font-weight: 500; font-size: 24px; border-radius: 24px; background-color: #00c7ae; color:#fff; padding: 12px; margin: 40px">비밀번호 재설정하기</div>
                </a>
            </div>
            <div style="padding:0px 24px 32px">
                <p style="color:#b5b5b5">
                    대표이사: 베스트고<br>사업자등록번호: 010100-10203 <br>주소: 서울 강남구 <br>문의 메일: <a href='#'>jun1@naver.com</a><br>고객센터: 188-2392<br>
                </p>
            </div>
            <div>
                <img id="logo" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F493513e3-f2d2-4499-9e0a-f9b86abb6ef0%2FKakaoTalk_Photo_2021-01-27-23-50-25.png?table=block&id=20781842-e6a7-4958-8c40-a4e67ace54d8&width=1080&userId=c708206d-d128-4d0a-aca6-929432fd82d1&cache=v2" style="width:80px;height:27px;padding:0px 24px 32px;">
            </div>
        </div>
    </div>
</body>

</html>